<nav class="navbar navbar-expand-lg bg-body-tertiary" style="display: flex;flex-direction: column;">
  <div class="container-fluid">
    <div class="d-flex align-items-center">

      <a class="navbar-brand" href="#">

        <img
          src="../.././../assets/m5ADpuAdKTpadnUWmsCrHJ.jpg"
          class="img-fluid"
          style="max-width: 100px; height: auto"
        />

      </a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >

        <span class="navbar-toggler-icon"></span>

      </button>

    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <div class="d-flex" style="width: 10%"></div>

      <app-search style="width: 100%;"></app-search>

      <div style="padding-right: 3%;"></div>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="align-items: center;">

        <app-signnavi></app-signnavi>
        <app-favoritesnavi></app-favoritesnavi>
        <app-cartnavi></app-cartnavi>
     
      </ul>

    </div>

  </div>

  <app-categoriesnavi style="width: 100%;"></app-categoriesnavi>

</nav>
