<div class="row">
  <div class="container text-center" style="margin-top: 20px">
    <h1>Favourites</h1>
  </div>
  <div
    *ngIf="loading == true"
    class="text-center s"
    style="align-items: center; @media (max-width: 768px) {margin-top: 50px}"
  >
    <div
      *ngIf="loading == true"
      class="spinner-grow text-warning"
      role="status"
    >
      <span class="sr-only">Loading</span>
    </div>
    <span style="color: #f27a1a; font-style: italic"> Loading ...</span>
  </div>

  <div
    class="container"
    style="
      display: flex !important;
      flex-wrap: wrap;
      flex-direction: row !important;
    "
  >
    <!-- src="../../../assets/BMW_logo_(gray).png" -->
    <ul class="products" *ngIf="showData">
      <li
        class="product-wrapper"
        id="product-wrapper"
        (click)="
          redirectToProductDetails(product.categoryName, product.productId)
        "
        *ngFor="let product of Favourites; let i = index"
      >
        <div class="image-product">
          <img
            class="img-fluid"
            [src]="getImageSource(product)"
            alt="{{ product.productName }}"
          />
          <div class="fvrt-btn-wrppr"                  
          (mouseenter)="onDeleteFavourite()"
          (mouseleave)="leftDeleteFavourite()"
          (click)="deleteFavourite(product.productId)"
          >
            <span class="fv">
              <fa-icon id="trashIcon"
                [icon]="faTrash"
                class="fvrt-btn-control"
                title="Delete Favourite"
                

                style="display: block"
              >
              </fa-icon>
            </span>

            <!-- 
                        -->
          </div>
          <span class="sold-out" *ngIf="soldControl">Sold Out</span>
          <div class="discount-badge">-20% Discount</div>
        </div>
        <div class="product-texts">
          <div class="product-name">{{ product.productName }}</div>
          <div class="product-head">{{ product.header }}</div>
        </div>
        <div class="add-cart">
          <div class="unitPrice">
            <b> {{ product.unitPrice }} TL</b>
          </div>
        </div>
      </li>
    </ul>
   
   
  </div>
  <div   class="empty-favorites" style="margin-left: 40px;"  *ngIf="!showData">
    <i class="i-heart-orange"><svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#f27a1a}</style><path d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"/></svg></i>
    <p class="empty-favorites-header">Favourite List Is Empty</p>
    <p class="empty-favorites-text">
      We can't found product in your favourite list
      <span class="text-dark">“Start Shopping”</span> button
      You can add the products to your favorites.
    </p>
    <div class="button-wrapper">
      <div class="button round-3 button-orange">
        <a href="/">Start Shopping</a>
      </div>
    </div>
  </div>
  <div class="favorites" *ngIf="!loading">
    <div class="q-subheader">
        <div class="left-icon" (click)="redirectToPreviousPage()">
            <i class="q-icon icon-back-button"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#000000}</style><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg></i>
        </div>
        <div class="title">
            <p class="q-typography q-body q-initial zero">Favorilerim
            </p></div>
            <div class="right-icon"></div>
            <div>

            </div>
        </div>
        <div class="q-layout favorites__layout">
            <div>
                <div class="q-box q-spaced q-fitted q-center-aligned favorites-empty-state">
                    <i class="q-icon icon-heart primary favorites-empty-state-icon" style="font-size: 40px;">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#f27a1a}</style><path d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"/></svg>
                    </i>
                    <p class="q-typography q-body bold q-initial black">Favorilerinizde ürün bulunmamaktadır.

                    </p>
                    <a class="q-primary q-button-small q-ripple q-anchor" href="/">
                        <span>Alışverişe Başla</span></a></div></div></div><div class="q-scroll-to-top hide">
                            <i class="q-icon icon-arrow-top white"></i></div>
 </div>
</div>
