@keyframes my-animation {
    0% { opacity: 0; transform: scale(0.9); } 
    100% { opacity: 1; transform: scale(1); } 
  }
  
  .my-element {
    animation: my-animation 1s ease;
  }
  a {
    color: inherit;
    text-decoration: none; 
  }
.nav-item .favourite{
    position: absolute;
    top:100%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    width: 250%;
    left: 50%;
    border-radius: 10px;
    display:  flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-50%);
    text-align: center;
    padding: 20%;
    z-index: 2;
  }
  fa-icon{
    font-size: 25px;
  }
  .textfavorites{
    display: block;
  }@media (max-width:768px){
    .textfavorites{
      display: none;
    }
    .nav-item .favourite{
      display: none;
      padding: 0%;
      z-index: 2;
    }
  }