div{
    cursor: default;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
}
.operator{
    color: #F27A1A;
}
.product-detail-breadcrumb-item{
    font-family: source_sans_proregular;
    white-space: nowrap;
    font-size: 15px;
    line-height: 18px;
    color: #333;
    
}
.gallery-container{
    width: 400px;
    
    position: relative;
}
.product-image-container{
    width: 100%;
    height: 600px;
    position: relative;
}.gallery-icon-container.left {
    left: 16px;
    color: #8c8c8c;
}
 .gallery-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    
    box-shadow: 0 4px 4px #33333329;
    border-radius: 100px;
    z-index: 10;
}.left{
    float: left;
}.right{
    right: 16px;
    float: right;
    color:#8c8c8c;
}
.base-product-image:hover{
    cursor: crosshair;
}.product-slide-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px auto 0;
    max-width: 352px;
    height: 60px;
    position: relative;}
.styles-module_slider__o0fqa {
        display: flex;
        overflow-x: auto;
    }
.product-slide:not(:last-child) {
        margin-right: 12px;
    }
    .product-slide {
        box-sizing: border-box;
        min-width: 40px;
        width: 40px;
        height: 60px;
        border-radius: 6px;
        border: solid 1px #e6e6e6;
        overflow: hidden;
        cursor: pointer;
        position: relative;
    }
    .product-slide img {
        width: auto;
        height: 100%;
    }
    .styles-module_slider__o0fqa > * {
        flex: 0 0 auto;
    }.ngxImageZoomContainer{
        width: 400px !important;
        height: 650px !important;
    }::ng-deep .ngxImageZoomContainer > img{
        width: 400px !important;
        height: 600px !important;
        object-fit: cover;
        border: none !important;
        z-index: 100;
    }
    ::ng-deep .image-container> .ngxImageZoomContainer > img{
        width: 400px !important;
        height: 600px !important;
        object-fit: cover;
        cursor:text !important;
        z-index: 100;
    }
    ::ng-deep .ngxImageZoomContainer > img:hover{
        cursor:crosshair !important;
    }
    .gallery-modal {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        position: fixed;
        background-color: #6666;
        display: none;
        margin: auto;
        z-index: 9999;
        transition: all .3s ease-in-out;
    }.gallery-modal-content {
      background: #fff;
      margin: 3% auto;
      max-width: 550px;
      max-height: 825px;
      width: 550px;
      height: 825px;
      height: auto;
      position: relative;
      border-radius: 6px;
       overflow: hidden;
       display: flex;}
       .i-close {
        color: #aaa;
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 20px;
        color: red;
        z-index: 999999;
    }.gallery-modal-content img {
        object-fit: cover;
        width: 100%;
        height: 825px;
        max-height: 100%;
        border-radius: 6px;
        z-index: 99999;
    }
    .gallery-modal-content img :hover{
        cursor:default;
    }.gallery-modal-icon.right {
        right: 20px;
        z-index: 999999;
    }.gallery-modal-icon {
        color: #8c8c8c;
        font-size: 37px;
        position: absolute;
        display: block;
        text-shadow: 0 0 3px #e6e6e6, 0 0 2px #000000;
        top: calc(50% - 17.75px);
        z-index: 10;
        cursor: pointer;
        transition: opacity .6s;
    }.right {
        float: right;
    }.left {
        float: left;
    }.gallery-modal-icon.left {
        left: 20px;
        z-index: 999999;
    }.flex-container {
        display: flex;
        justify-content: space-between;
    }.container-right-content {
        display: flex;
    }.product-detail-wrapper {
        margin: 0 0 0 24px;
        min-width: 524px;
        width: 524px;
    }.category-top-rank-container {
        position: relative;
        cursor: pointer;
        display: inline-flex;
        box-sizing: border-box;
        align-items: center;
        height: 20px;
        padding: 1.5px 8px 1.5px 16px;
        gap: 2px;
        margin-bottom: 8px;
        margin-left: 10px;
        background: #fef4eb;
        border-radius: 0 100px 100px 0;
    }.pr-in-w {
        flex-direction: row;
        border-bottom: 1px solid rgba(151,151,151,.2);
        padding-bottom: 16px;
        margin-bottom: 16px;
    }.size-variant-wrapper {
        position: relative;
    }.product-button-container {
        height: 50px;
        display: flex;
        margin-bottom: 16px;
        padding-top: 8px;
    }.pr-in-w .pr-in-cn .pr-new-br {
        font-size: 20px;
        line-height: 26px;
        font-family: source_sans_proregular,serif;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }.pr-in-ratings {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        margin-top: 8px;
        min-height: 18px;
    }.pr-in-ratings .pr-in-rnr {
        display: flex;
        position: relative;
        align-items: center;
    }.review-tooltip {
        position: relative;
        display: inline-block;
    }.rvw-cnt {
        display: flex;
        align-items: center;
        gap: 4px;
        cursor: pointer;
    }.product-questions {
        color: #666;
    }.seperator {
        display: inline-block;
        height: 3px;
        width: 3px;
        background-color: #999;
        border-radius: 50%;
        margin-left: 8px;
        margin-right: 8px;
    }.product-questions .answered-questions-count {
        color: #333;
        font-family: source_sans_prosemibold,serif;
        -webkit-font-smoothing: antialiased;
    }.product-favorite-container {
        display: flex;
        align-items: center;
        gap: 4px;
        color: #666;
        cursor: pointer;
    }.i-heart {
        width: 14px;
        height: 12px;
    }.favorite-count {
        color: #333;
        font-family: source_sans_prosemibold,serif;
        -webkit-font-smoothing: antialiased;
    }.product-price-container {
        display: flex;
        align-items: center;
        gap: 8px;
    }.pr-bx-w {
        display: flex;
        height: 24px;
    }.pr-bx-nm {
        margin: 0;
    }.pr-bx-nm {
        display: flex;
        align-items: center;
        gap: 8px;
    }.prc-dsc {
        font-size: 24px;
        font-family: source_sans_prosemibold,serif;
        -webkit-font-smoothing: antialiased;
    }.prc-dsc {
        color: #f27a1a;
        font-size: 22px;
        line-height: 24px;
    }.product-info-badges {
        display: flex;
        align-items: center;
        gap: 8px;
    }.size-variant-wrapper .size-variant-title-wrapper {
        display: flex;
        height: 18px;
        align-items: center;
        font-family: source_sans_proregular;
        font-size: 14px;
        line-height: 18px;
        color: #333;
        justify-content: space-between;
        margin-bottom: 2px;
    }.size-variant-title--bold {
        font-family: source_sans_prosemibold,serif;
        -webkit-font-smoothing: antialiased;
    }.size-variant-attr-value {
        font-weight: 400;
        color: #333;
    }.variants {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }.attributeSlider {
        width: 100%;
        position: relative;
    }div[class^=styles-module_sliderBase] {
        max-width: 100%;
        width: unset;
    }.attributeSlider-fog {
        position: absolute;
        width: 36px;
        height: 100%;
        top: 0;
        right: 0;
        background: linear-gradient(270deg,#ffffff 10.61%,rgba(255,255,255,0) 100%);
    }.attributeSlider-carousel>div:last-child {
        padding-top: 10px;
        padding-bottom: 10px;
    }.styles-module_slider__o0fqa {
        display: flex;
        overflow-x: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }.sp-itm {
        border: solid 1px #e6e6e6;
        font-size: 14px;
        color: #333;
        cursor: pointer;
        margin-right: 10px;
        margin-bottom: 2.5px;
        margin-top: 2.5px;
        box-sizing: border-box;
        border-radius: 8px;
        min-width: 48px;
        padding: 0 12px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }.sp-itm.selected {
        border: 2px solid #f27a1a!important;
        box-shadow: none!important;
    }.star {
        background: url(https://cdn.dsmcdn.com/web/production/rating-and-review-small-star-grey.svg) no-repeat center;
    }.star {
        width: 14px;
        height: 14px;
        transform: scale(.85);
    }.full {
        position: absolute;
        left: 0;
        top: 0;
        white-space: nowrap;
        overflow: hidden;
    }.star-w {
        position: relative;
    }.ratings.readonly {
        height: 14px;
    }.rating-line-count {
        color: #333;
        font-size: 16px;
        font-family: source_sans_prosemibold,serif;
        -webkit-font-smoothing: antialiased;
        line-height: 20px;
        height: 18px;
    }.rt-st-avg {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
    }.rating-line-wrapper {
        display: flex;
    }.ratings {
        position: relative;
        display: flex!important;
        gap: 2px;
    }.review-tooltip {
        position: relative;
        display: inline-block;
    }.rvw-cnt {
        display: flex;
        align-items: center;
        gap: 4px;
        cursor: pointer;
        font-size: 16px;
    }.total-review-count {
        color: #333;
        font-family: source_sans_prosemibold,serif;
        -webkit-font-smoothing: antialiased;
    }.camera-icon {
        width: 18px;
        height: 14px;
    }.rwt-cnt-tx{
        color: #666;
        font: 16px;
    }.pr-in-ratings {
        width: 100%;
        font-size: 12px;
        margin-bottom: 30px;
    }.product-brand-name-without-link {
        color: #333;
        font-family: source_sans_prosemibold,serif;
        -webkit-font-smoothing: antialiased;
        font-weight: bold !important;
    }.pr-in-w .pr-in-cn .pr-new-br span {
        font-family: source_sans_proregular,serif;
        color: #333;
        font-weight: normal;
    }.product-container .pr-in-w .pr-in-cn .pr-new-br {
        font-size: 20px;
        line-height: 26px;
        font-family: source_sans_proregular,serif;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }.product-button-container {
        height: 50px;
        display: flex;
        margin-bottom: 16px;
        padding-top: 8px;
    }.add-to-basket {
        width: 100%;
        height: 48px;
        border: none;
        border-radius: 8px;
        background: #f27a1a;
        font-size: 18px;
        letter-spacing: .03em;
        color: #fff;
        cursor: pointer;
        transition: all .3s step-start;
        overflow: hidden;
        font-family: source_sans_prosemibold,serif;
        -webkit-font-smoothing: antialiased;
    }.add-to-basket-button-text {
        transition: all .3s ease-in-out;
        transform: translateY(10px);
    }.add-to-basket-button-text-success {
        visibility: hidden;
        transform: translateY(30px);
        transition: all .3s ease-in-out;
    }.favorite-button {
        cursor: pointer;
    }.review-tooltip {
        position: relative;
        display: inline-block;
    }.sticky-product-buttons .top-padding {
        top: 45px;
        width: 100px;
        left: 0;
    }.product-button-container .fv{
        position: relative;
        min-width: 48px;
        height: 48px;
        margin: 0 0 0 15px;
        border-radius: 50%;
        border: solid 1px #e6e6e6;
        background-color: #fff;
        cursor: pointer;
        display: flex;
        justify-content: center !important;
        align-items: center !important;
        text-align: center;
    }.product-button-container .fv fa-icon{
        color: #8c8c8c;
        font-size: 22px;
        line-height: 1.5;
    }.featured-information .featured-information-header {
        color: #333;
        font-size: 14px;
        font-weight: 600;
        margin: 24px 0 16px;
    }.product-container .content-descriptions {
        margin-top: 10px;
    }.content-descriptions ul {
        max-height: 220px;
        line-height: 28px;
        overflow: hidden;
        font-size: 13px;
        color: #666;
    }.content-descriptions ul li span.ellipse {
        display: inline-block;
        background-color: #f27a1a;
        height: 6px;
        width: 6px;
        border-radius: 50%;
        margin-right: 8px;
        margin-left: 0;
    }.productDetailSupplierPopup {
        display: none;
        position: absolute;
        cursor: auto;
        z-index: 100000;
        width: 500px;
    }.all-features {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 30px;
        position: relative;
    }.all-features .feature-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 898;
    }.all-features a.button-all-features {
        border: solid #f5f5f5;
        background-color: #f5f5f5;
        cursor: pointer;
        font-size: 13px;
        font-weight: 600;
        transition: all .3s ease;
        letter-spacing: 1.2px;
        color: #333;
        padding: 12px 64px;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }.all-features a.button-all-features fa-icon {
        font-size: 13px;
        padding-left: 10px;
    }.all-features .line {
        width: 100%;
        border: none;
        border-top: 1px solid #e6e6e6;
    }.all-features a.button-all-features:hover {
        color: #b84f0a!important;
        border: solid #FEF4EB!important;
        background-color: #fef4eb!important;
    }.flex-container {
        display: flex;
        justify-content:space-evenly;
    }#product-detail-app .product-container {
        display: block;
        width: 956px;
        margin-bottom: 30px;
        padding: 4px 0 9px;
        box-sizing: border-box;
    }.product-detail-container {
        width: 1200px;
        margin: 20px auto;
    }#product-detail-app .product-container>div {
        display: flex;
        justify-content: space-between;
    }aside {
        display: block;
    }#product-detail-app .pr-rcs-w {
        margin-bottom: 15px;
    }#product-detail-app .product-detail-container .title {
        height: 25px;
        margin-bottom: 20px;
        font-size: 22px;
        line-height: 26px;
        color: #333;
        font-family: source_sans_prosemibold,serif;
        -webkit-font-smoothing: antialiased;
    }#product-detail-app .pr-rcs-w .crs-pr-crl {
        position: relative;
        left: -4px;
    }.styles-module_carousel-base__3keqD {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        outline: none;
        position: relative;
    }#product-detail-app .pr-rcs-w .crs-pr-crl button[data-direction=left] {
        left: -55px;
        transform: rotate(180deg);
    }
    element.style {
    }
    #product-detail-app .pr-rcs-w .crs-pr-crl button[data-direction=left] {
        left: -55px;
        transform: rotate(180deg);
    }
    #product-detail-app .pr-rcs-w .crs-pr-crl button[data-direction] {
        top: calc(40% - 17px);
        width: 50px;
        height: 50px;
        display: block;
        cursor: pointer;
        border: none;
        position: absolute;
        opacity: .6;
        background: url(https://cdn.dsmcdn.com/web/production/slick-arrow.svg) no-repeat center;
    }.styles-module_carousel-arrow__26sRw {
        z-index: 1;
    }.styles-module_item-tracker__3bypy {
        height: 100%;
        display: flex;
    }#product-detail-app .pr-rcs-w .pr-rc-w {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        position: relative;
        transition: box-shadow .2s linear;
        width: 204px;
    }#product-detail-app .pr-rcs-w .pr-rc-w .pr-rc-img {
        z-index: 1;
        overflow: hidden;
        width: 100%;
        height: 303px;
        border-radius: 6px;
        border: solid 1px #eaeaea;
        box-sizing: border-box;
    }#product-detail-app .pr-rcs-w .pr-rc-w .ftrd-prd-crd {
        position: relative;
    }#product-detail-app .pr-rcs-w .pr-rc-w .pr-rc-dc {
        padding: 10px 0;
        background-color: #fff;
        height: 134px;
        box-sizing: border-box;
        overflow: hidden;
    }.pr-rcs-w .pr-rc-w .pr-rc-img .pd-img {
        width: 100%;
        height: 100%;
    } .pr-rc-topRanking-badge {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background: linear-gradient(270.43deg,#FFC000 0%,#F27A1A 100%);
        position: absolute;
        width: 204px;
        height: 20px;
        bottom: 0;
    }.styles-module_item-container__a8zaY img {
        -webkit-user-select: none;
        user-select: none;
        -webkit-user-drag: none;
    }#product-detail-app .pr-rcs-w .pr-rc-w .pr-rc-topRanking-badge .topRanking-text {
        color: #fff;
        margin-left: 5px;
        font-size: 11px;
        font-family: "Source Sans Pro";
        font-style: normal;
        font-weight: 600;
    }#product-detail-app .pr-rcs-w .pr-rc-w .pr-rc-dc .pr-nm-ct {
        color: #666;
        font-size: 12px;
        overflow: hidden;
        height: 32px;
        text-align: left;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }.pr-rc-w .pr-rc-dc .pr-nm-ct .pr-rc-br {
        color: #333;
        font-family: source_sans_prosemibold,serif;
        -webkit-font-smoothing: antialiased;
        margin-right: 2px;
        font-size: 12px;
    }#product-detail-app .pr-rcs-w .pr-rc-w .pr-rc-dc .pr-nm-ct .pr-rc-nm {
        white-space: unset;
        display: inline;
    }
    #product-detail-app .pr-rcs-w .pr-rc-w .pr-rc-dc .pr-nm-rs {
        height: 14px;
        margin-top: 4px;
    }#product-detail-app .pr-rcs-w .product-rating {
        display: flex;
        align-items: center;
    }
    #product-detail-app .pr-rcs-w .product-rating .ratings {
        position: relative;
        display: flex!important;
    }#product-detail-app .pr-rcs-w .product-rating .rating-count {
        font-size: 11px;
        line-height: 11px;
        color: #999;
        margin-left: 1px;
        font-family: source_sans_prosemibold,serif;
        -webkit-font-smoothing: antialiased;
    }#product-detail-app .pr-rcs-w .product-rating .star-w {
        position: relative;
    }#product-detail-app .pr-rcs-w .product-rating .star-w .empty .star {
        background: url(https://cdn.dsmcdn.com/web/production/rating-and-review-small-star-grey.svg) no-repeat center;
    }#product-detail-app .pr-rcs-w .product-rating .star-w .full {
        position: absolute;
        left: 0;
        top: 0;
        white-space: nowrap;
        overflow: hidden;
    }#product-detail-app .pr-rcs-w .product-rating {
        display: flex;
        align-items: center;
    }#product-detail-app .pr-bx-w {
        display: flex;
        height: 24px;
    }#product-detail-app .pr-bx-nm {
        display: flex;
        align-items: center;
        gap: 8px;
    }#product-detail-app .pr-rcs-w .pr-rc-w .prc-dsc, #product-detail-app .pr-rcs-w .pr-rc-w .prc-org {
        margin-top: 5px;
    }#product-detail-app .pr-rcs-w .pr-rc-w .pr-rc-prs {
        display: flex;
        flex-wrap: wrap;
    }#product-detail-app .pr-rcs-w .pr-rc-w .pr-rc-prs .basket-promotion {
        text-align: center;
        margin-block: 10px;
    }#product-detail-app .pr-rcs-w .pr-rc-w .pr-rc-prs .pr-rc-prm {
        display: flex;
        justify-content: space-between;
        border-radius: 3px;
        border: solid 1px #f27a1a;
        box-sizing: border-box;
        height: 26px;
    }#product-detail-app .pr-rcs-w .pr-rc-w .pr-rc-prs .basket-promotion .pr-rc-pr-tx {
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        margin: auto;
        padding-inline: 8px;
        max-width: 100%;
    }#product-detail-app .pr-rcs-w .pr-rc-w .pr-rc-prs .pr-rc-prm .pr-rc-pr-tx {
        text-align: left;
        font-size: 11px;
        line-height: 20px;
        color: #f27a1a;
        margin-right: 4px;
        max-width: 120px;
        text-overflow: ellipsis;
        overflow: hidden;
    }#product-detail-app .pr-rcs-w .fc-btn-fav {
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 1;
    }#product-detail-app .pr-rcs-w .fc-btn-fav .featured-fv {
        box-shadow: 0 1px 3px #0000001c;
        border: solid 1px #f0f0f0;
        background-color: #fff;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }#product-detail-app .pr-rcs-w .fc-btn-fav fa-icon{
        color: #8c8c8c;
        font-size: 17px;
    }#product-detail-app .v2 .prc-dsc {
        font-size: 14px;
        line-height: 18px;
    }
    #product-detail-app .prc-dsc {
        color: #f27a1a;
        font-size: 22px;
        line-height: 24px;
    }#product-detail-app .pr-rnr-w, #product-detail-app .pr-in-ratings {
        width: 100%;
        font-size: 12px;
        margin-bottom: 30px;
    }article {
        display: block;
    }#product-detail-app .product-detail-container .title {
        height: 25px;
        margin-bottom: 20px;
        font-size: 22px;
        line-height: 26px;
        color: #333;
        font-family: source_sans_prosemibold,serif;
        -webkit-font-smoothing: antialiased;
    }#product-detail-app .pr-rnr-w .pr-rnr-cn.gnr-cnt-br, #product-detail-app .pr-in-ratings .pr-rnr-cn.gnr-cnt-br {
        border-radius: 6px;
        border: solid 1px #e2e2e2;
        background-color: #fff;
        box-shadow: 0 1px 4px #0000000d;
    }#product-detail-app .pr-rnr-w .pr-rnr-sm, #product-detail-app .pr-in-ratings .pr-rnr-sm {
        display: flex;
        align-items: center;
        padding: 30px;
        justify-content: space-between;
        border-bottom: solid 1px #e2e2e2;
    }#product-detail-app .pr-rnr-w .pr-rnr-sm .pr-rnr-sm-p, #product-detail-app .pr-in-ratings .pr-rnr-sm .pr-rnr-sm-p {
        display: flex;
        align-items: baseline;
    }#product-detail-app .pr-rnr-w .pr-rnr-sm .pr-rnr-sm-p .rt-st-avg .ratings, #product-detail-app .pr-in-ratings .pr-rnr-sm .pr-rnr-sm-p .rt-st-avg .ratings {
        height: 22px;
    }#product-detail-app .pr-rnr-w .ratings, #product-detail-app .pr-in-ratings .ratings {
        position: relative;
        display: flex!important;
        gap: 2px;
    }#product-detail-app .pr-rnr-w .star-w, #product-detail-app .pr-in-ratings .star-w {
        position: relative;
    }#product-detail-app .pr-rnr-w .pr-rnr-sm .pr-rnr-sm-p .rt-st-avg .star, #product-detail-app .pr-in-ratings .pr-rnr-sm .pr-rnr-sm-p .rt-st-avg .star {
        transform: scale(1.5);
        width: 23px;
        height: 24px;
    }#product-detail-app .pr-rnr-w .star-w .empty .star, #product-detail-app .pr-in-ratings .star-w .empty .star {
        background: url(https://cdn.dsmcdn.com/web/production/rating-and-review-small-star-grey.svg) no-repeat center;
    }#product-detail-app .pr-rnr-w .star-w .full, #product-detail-app .pr-in-ratings .star-w .full {
        position: absolute;
        left: 0;
        top: 0;
        white-space: nowrap;
        overflow: hidden;
    }#product-detail-app .review-tooltip {
        position: relative;
        display: inline-block;
    }#product-detail-app .pr-rnr-w .pr-rnr-sm .pr-rnr-sm-p-s, #product-detail-app .pr-in-ratings .pr-rnr-sm .pr-rnr-sm-p-s {
        display: flex;
        align-items: baseline;
        font-size: 14px;
        color: #333;
    }
    element.style {
    }
    #product-detail-app .pr-rnr-w .pr-rnr-sm .pr-rnr-sm-p-s *:first-child, #product-detail-app .pr-in-ratings .pr-rnr-sm .pr-rnr-sm-p-s *:first-child {
        margin-right: 11px;
    }#product-detail-app .pr-rnr-w .pr-rnr-sm .pr-rnr-sm-p-s>.seperator, #product-detail-app .pr-in-ratings .pr-rnr-sm .pr-rnr-sm-p-s>.seperator {
        opacity: .6!important;
        height: 10px;
        border: solid 0.5px #999999!important;
    }#product-detail-app .pr-rnr-w .pr-rnr-sm .pr-rnr-sm-p-s *:last-child, #product-detail-app .pr-in-ratings .pr-rnr-sm .pr-rnr-sm-p-s *:last-child {
        margin-left: 11px;
    }#product-detail-app .pr-rnr-w .pr-rnr-bt, #product-detail-app .pr-in-ratings .pr-rnr-bt {
        width: 290px;
    }#product-detail-app .pr-rnr-w .pr-rnr-cn .pr-rnr-com-w, #product-detail-app .pr-in-ratings .pr-rnr-cn .pr-rnr-com-w {
        padding: 20px;
    }#product-detail-app .pr-rnr-w .pr-rnr-cn .pr-rnr-com-w .size-expectation, #product-detail-app .pr-in-ratings .pr-rnr-cn .pr-rnr-com-w .size-expectation {
        display: flex;
        background-color: #f3f3f3;
        border-radius: 6px;
        padding: 8px 0;
        margin-bottom: 20px;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-family: source_sans_prosemibold,serif;
        -webkit-font-smoothing: antialiased;
    }#product-detail-app .pr-rnr-w .pr-rnr-cn .pr-rnr-com-w .size-expectation .i-hanger, #product-detail-app .pr-in-ratings .pr-rnr-cn .pr-rnr-com-w .size-expectation fa-icon {
        font-size: 12px;
        background-color: #f27a1a;
        border-radius: 50%;
        padding: 6px 4px 9px 5px;
        box-sizing: border-box;
        font-weight: 600;
    }#product-detail-app .pr-rnr-w .pr-rnr-cn .pr-rnr-com-w .size-expectation .size-expectation-text, #product-detail-app .pr-in-ratings .pr-rnr-cn .pr-rnr-com-w .size-expectation .size-expectation-text {
        font-size: 14px;
        margin-left: 10px;
    }#product-detail-app .pr-rnr-w .pr-rnr-cn .pr-rnr-com-w .pr-rnr-mr-btn, #product-detail-app .pr-in-ratings .pr-rnr-cn .pr-rnr-com-w .pr-rnr-mr-btn {
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #666;
        transition: all .3s ease;
        width: 100%;
        background: transparent;
        cursor: pointer;
        border-radius: 5px;
        border: solid 1px #e2e2e2;
        margin-top: 20px;
    }#product-detail-app .pr-rnr-w .pr-rnr-cn .pr-rnr-com-w .pr-rnr-mr-btn span, #product-detail-app .pr-in-ratings .pr-rnr-cn .pr-rnr-com-w .pr-rnr-mr-btn span {
        font-size: 14px;
        font-family: source_sans_prosemibold,serif;
        -webkit-font-smoothing: antialiased;
        line-height: .86;
        transition: all .3s ease;
        color: #333;
        letter-spacing: .05rem;
    }#product-detail-app .pr-rnr-w .rnr-com-w .rnr-com-cn, #product-detail-app .pr-in-ratings .rnr-com-w .rnr-com-cn {
        margin-bottom: 20px;
    }#product-detail-app .pr-rnr-w .rnr-com-w .rnr-com-cn .rnr-com-tx, #product-detail-app .pr-in-ratings .rnr-com-w .rnr-com-cn .rnr-com-tx {
        word-break: break-word;
        font-family: source_sans_proregular;
        font-size: 14px;
        line-height: 18px;
        color: #666;
    }#product-detail-app .pr-rnr-w .rnr-com-w .rnr-com-tx .rnr-inline-rating, #product-detail-app .pr-in-ratings .rnr-com-w .rnr-com-tx .rnr-inline-rating {
        display: inline-block;
        float: left;
        margin-right: 10px;
    }#product-detail-app .pr-rnr-w .ratings.readonly, #product-detail-app .pr-in-ratings .ratings.readonly {
        height: 14px;
    }
    
    #product-detail-app .pr-rnr-w .ratings, #product-detail-app .pr-in-ratings .ratings {
        position: relative;
        display: flex!important;
        gap: 2px;
    }#product-detail-app .pr-rnr-w .star-w, #product-detail-app .pr-in-ratings .star-w {
        position: relative;
    }#product-detail-app .pr-rnr-w .rnr-com-w .rnr-com-bt, #product-detail-app .pr-in-ratings .rnr-com-w .rnr-com-bt {
        display: flex;
        justify-content: space-between;
    }#product-detail-app .pr-rnr-w .rnr-com-w .rnr-com-bt .rnr-com-usr, #product-detail-app .pr-in-ratings .rnr-com-w .rnr-com-bt .rnr-com-usr {
        line-height: 16px;
        font-family: source_sans_proregular;
        font-size: 12px;
        color: #999;
    }#product-detail-app .pr-rnr-w .user-is-elite, #product-detail-app .pr-in-ratings .user-is-elite {
        font-family: source_sans_prosemibold,serif;
        -webkit-font-smoothing: antialiased;
        color: #666;
    }#product-detail-app .pr-rnr-w .rnr-com-w .rnr-com-bt .pipe, #product-detail-app .pr-in-ratings .rnr-com-w .rnr-com-bt .pipe {
        margin: 10px;
        color: #999;
    }#product-detail-app .pr-rnr-w .rnr-com-w .rnr-com-bt .seller-name-desc, #product-detail-app .pr-in-ratings .rnr-com-w .rnr-com-bt .seller-name-desc {
        font-weight: normal;
        color: #666;
    }#product-detail-app .pr-rnr-w .rnr-com-w .rnr-com-bt .pipe, #product-detail-app .pr-in-ratings .rnr-com-w .rnr-com-bt .pipe {
        margin: 10px;
        color: #999;
    }#product-detail-app .pr-rnr-w .rnr-com-w .rnr-com-bt .seller-name-info, #product-detail-app .pr-in-ratings .rnr-com-w .rnr-com-bt .seller-name-info {
        font-size: 12px;
        font-family: source_sans_prosemibold,serif;
        -webkit-font-smoothing: antialiased;
        color: #4d8ee1;
    }#product-detail-app .pr-rnr-w .pr-rnr-cn .pr-rnr-com-w .size-expectation .size-expectation-text, #product-detail-app .pr-in-ratings .pr-rnr-cn .pr-rnr-com-w .size-expectation .size-expectation-text {
        font-size: 14px;
        margin-left: 10px;
    }#product-detail-app .pr-rnr-w .pr-rnr-sm .pr-rnr-sm-p>span, #product-detail-app .pr-in-ratings .pr-rnr-sm .pr-rnr-sm-p>span {
        font-size: 28px;
        line-height: normal;
        font-family: source_sans_prosemibold,serif;
        -webkit-font-smoothing: antialiased;
        margin-right: 11px;
    }#product-detail-app .pr-rnr-w .pr-rnr-cn .pr-rnr-com-w .pr-rnr-mr-btn span, #product-detail-app .pr-in-ratings .pr-rnr-cn .pr-rnr-com-w .pr-rnr-mr-btn span {
        font-size: 14px;
        font-family: source_sans_prosemibold,serif;
        -webkit-font-smoothing: antialiased;
        line-height: .86;
        transition: all .3s ease;
        color: #333;
        letter-spacing: .05rem;
    }#product-detail-app .pr-rnr-w .pr-rnr-cn .pr-rnr-com-w .pr-rnr-mr-btn, #product-detail-app .pr-in-ratings .pr-rnr-cn .pr-rnr-com-w .pr-rnr-mr-btn {
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #666;
        transition: all .3s ease;
        width: 100%;
        background: transparent;
        cursor: pointer;
        border-radius: 5px;
        border: solid 1px #e2e2e2;
        margin-top: 20px;
    }#product-detail-app .product-detail-container .title {
        height: 25px;
        margin-bottom: 20px;
        font-size: 22px;
        line-height: 26px;
        color: #333;
        font-family: source_sans_prosemibold,serif;
        -webkit-font-smoothing: antialiased;
    }#product-detail-app .details-section .detail-border {
        padding: 20px 20px 30px;
        border-radius: 6px;
        box-shadow: 0 1px 4px #0000000d;
        border: solid 1px #e6e6e6;
        background-color: #fff;
    }#product-detail-app .flex-container {
        display: flex;
        justify-content: space-between;
    }#product-detail-app .details-section .detail-section-img {
        max-width: 170px;
        -ms-flex: 1 0 auto;
        height: 247px;
        border-radius: 6px;
        margin-right: 30px;
    }#product-detail-app .details-section .info-wrapper {
        width: 963px;
    }#product-detail-app .details-section .info-wrapper .detail-name-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }#product-detail-app .details-section .info-wrapper .detail-name-container .detail-name {
        font-size: 18px;
        font-family: source_sans_prosemibold,serif;
        -webkit-font-smoothing: antialiased;
        color: #333;
        margin-bottom: 10px;
    }#product-detail-app .details-section .info-wrapper .detail-desc-list li {
        font-size: 14px;
        color: #666;
        margin-bottom: 10px;
        word-wrap: break-word;
    }