.col-custom-4 {
    flex: 0 0 10%;
    max-width: 10%;
  }

  a {
    color: inherit;
    text-decoration: none; 
  }
  .navicategoryItems{
    color: red !important;
    position: absolute;
    top:95%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    width: 300%;
    left: 50%;
    display:  flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-50%);
    text-align: center;
    padding: 20%;
  }
  .items:hover{
    border-bottom: 3px solid;
    border-bottom-color: #F27A1A;
    color: #F27A1A;
  }